{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To World Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br><br>
                        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id urna et neque scelerisque mattis. Etiam ultrices auctor neque, sed aliquam diam. Suspendisse tempus nunc eu metus semper lobortis. Vivamus consequat enim quis mauris sagittis rhoncus. Etiam urna arcu, vehicula nec dictum in, semper at ante. Proin turpis tellus, mattis ac libero nec, viverra pulvinar nisl. Phasellus eget sem viverra, tincidunt urna a, mattis magna. Pellentesque ut odio hendrerit, ullamcorper mauris sit amet, tempor est. In convallis arcu ante, sed cursus justo ultricies at. Proin elementum sapien eu urna vehicula, iaculis euismod turpis blandit. Aliquam erat volutpat. Pellentesque lobortis neque egestas euismod semper. Integer vitae sapien imperdiet, facilisis ipsum eu, auctor nisl. Donec dapibus eros eget felis mollis dapibus. Quisque accumsan enim ac justo efficitur posuere. Pellentesque non massa augue.<br><br>
                            Vestibulum eget porta magna. Morbi tincidunt non lectus vel imperdiet. Integer id varius quam. Cras tincidunt urna vulputate ornare feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce pharetra quam sapien, vitae tincidunt sem pretium ut. Fusce augue diam, mollis id urna a, tempor vehicula arcu. Cras non vulputate mauris. Ut felis turpis, tincidunt nec commodo eget, posuere vel mauris. Nulla tristique turpis magna, et interdum massa condimentum at. Cras vestibulum iaculis purus, nec lobortis diam convallis non. Donec varius scelerisque rutrum. Etiam et consectetur enim. Praesent efficitur sem eget mauris blandit posuere. Maecenas rutrum arcu eu condimentum vestibulum.</p>
                        <br><br>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}